{% extends 'booking/base.html' %}

{% block content %}
<h1>О нас</h1>
<p>
    «Продюсерский центр Big "Z"» — это творческое пространство в самом сердце Петрозаводска.
</p>
<p>
    Наша миссия — предоставить музыкантам и творческим людям все необходимое для реализации их идей:
</p>
<ul>
    <li>Студия звукозаписи</li>
    <li>Концертная площадка</li>
    <li>4 репетиционных зала</li>
    <li>Прокат звукового и светового оборудования</li>
    <li>Организация и проведение мероприятий</li>
    <li>Первая РОК-школа Карелии "Z-school"</li>
    <li>Фотостудия</li>
</ul>
<p>
    Мы работаем для вас и всегда рады новым знакомствам и проектам!
</p>
{% endblock %}
