{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<h2>Наши услуги</h2>
<div class="card-grid">
    {% for room in rooms %}
    <div class="card">
        {% if room.image %}
            <img src="{{ room.image.url }}" alt="{{ room.title }}">
        {% else %}
            <img src="{% static 'images/z-6-sq.png' %}" alt="Placeholder image">
        {% endif %}
        <div class="card-content">
            <h3 class="card-title">{{ room.title }}</h3>
            <a href="{% url 'booking:booking_view' %}?room={{ room.id }}" class="btn">Забронировать</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
